/* body {
  font-family: "Roboto", sans-serif;
} */

html {
  --primary: #6200ee;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;
  --error: #b00020;
  --base-spacing: 8px;

  font-size: 10px;
}

section {
  padding: var(--base-spacing);
}

header,
section:nth-of-type(odd),
footer {
  background: var(--primary);
}

header,
nav {
  padding: calc(var(--base-spacing) * 2);
}

nav,
section:nth-of-type(even) {
  background: var(--secondary);
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Space represents a GENERAL CHILD SELECTOR. */
header img {
  border-radius: 50%;
  box-shadow: calc(var(--base-spacing) * 0.5) calc(var(--base-spacing) * 0.5)
    var(--base-spacing);
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

nav {
  min-height: calc(var(--base-spacing) * 12);
  text-align: center;
}

nav li {
  padding: calc(var(--base-spacing) * 1.5) 0;
}

nav,
p,
a {
  font-size: 1.563em;
}

nav a {
  text-decoration: none;
}

.fas {
  font-size: 4em;
}

nav .fas {
  position: absolute;
  transform: translateX(calc(50vw - calc(var(--base-spacing) * 9)));
}

h1 {
  font-size: 3.052em;
  text-align: center;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

.hero {
  align-items: center;
  background: url(https://picsum.photos/900/600) no-repeat top center;
  background-size: cover;
  display: flex;
  height: 25vh;
  justify-content: center;
}

.is-hidden {
  font-size: 0;
  height: 0;
}

.btn {
  background: var(--secondary);
  border-radius: var(--base-spacing);
  color: whitesmoke;
  padding: var(--base-spacing);
  text-decoration: none;
  text-transform: uppercase;
}

section .btn {
  background: yellow;
  color: black;
  display: inline-block;
  margin: var(--base-spacing) 0;
}

footer,
footer a {
  color: white;
}

footer {
  color: white;
  padding: calc(var(--base-spacing) * 2);
}

footer ul {
  display: flex;
  justify-content: space-around;
}

footer p {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  footer ul {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  header {
    flex-direction: row;
  }
}
